<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/cart.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>Musify</title>
  </head>
  <body>
    <div class="color-fix-desktop-top">
        <header class="margin-fix-for-desktop-header">
        <div class="header-logo">
            <span id="logo"><i class="icons-line-fix-logo bi bi-vinyl-fill "></i> Musify</span>
            <!-- <img id="logo" src="/img-logo-musify.png" alt="Musify logo" /> -->
        </div>
        <nav class="flex-nav-bar-header">
            <ul>
            <li><a href="/" class="nav-menu-item">Home</a></li>
            <li>
                <div class="store-dropdown">
                <a href="/products" class="store-dropdown">Store <i class="icons-line-fix-chevron bi bi-chevron-down"></i></a>
                <div class="store-dropdown-content">
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Products</a>
                    <a href="https://www.youtube.com/watch?v=JF_QVNfyRY8">Libraries</a>
                    <a href="https://www.youtube.com/watch?v=0USm3AilHiU">Samples</a>
                </div>
                </div>
            </li>
            <li><a href="/about" class="nav-menu-item">About Us</a></li>
            <li><a href="/contact" class="nav-menu-item">Contact</a></li>
            </ul>
        </nav>
        <div class="menu-flex">
            <a href="/cart" class="icons-line-fix desktop-button-cart">
            <i class="bi bi-cart2"></i>
            </a>
            <a href="/register" class="mobile-button-sign-up">Sign Up</a>
            <a href="/login" class="mobile-button-log-in">Log In</a>
            <a href="#" id="burger-button"><img
            src="/img-burger-icon.svg"
            alt="Burger button"
            />
        </a>
        </div>
        </header>
    </div>

    <main>
        <div class="color-fix-desktop-top">
            <!-- <div class="cart-video-top-view"><iframe src="https://player.vimeo.com/video/456574185?background=1" class="video"></iframe></div> -->
            <section class="margin-fix-for-desktop-main section-top-view">
                <div class="flex-first-column-main"> 
                    <h2 class="grids-titles">Cart</h2>
                    <p class="grids-descriptions">
                        <a href="/"> Home </a>/ Your Shopping Cart
                    </p>
                </div>
            </section>
        </div>

        <!-- SECCION CART -->
            
                
            <div class="cart-checkout">
                
                    
                    <!-- Cart text -->
                    <div class="top-text-item-cart">
                        <h3 class="cart-title">Items</h3>
                    </div>
                <!-- <section class="cart-main-section"> -->
                <form action="/cart" method="post" class="form-cart-processed">
                    <!----------------------------------------------------------------------------------------->
                    <section class="cart-top-section">
                        <div class="item-cart">                              
                            <!-- Poduct name -->
                            <div class="product-name">
                                <div class="product-cancel"><i class="bi bi-x"></i></div>                       <!-- X -->
                                <div class="product-img">                                                       <!-- IMGAGEN -->
                                    <img src="./cart-img/article1.png">             
                                </div>
                                <div class="product-info">                              
                                    <a class="article-description" href="/">Legends Only Bundle (Every Kit)</a>  <!-- INFO -->  
                                </div>
                            </div>
                            <!--  -->
                            <div class="article-quantity">
                                <!-- <div> -->
                                    <div>
                                        <button type="button" class="button-down">
                                            <i class="fas fa-caret-down"></i>
                                        </button>
                                        <input type="text" class="text-quantity" value="1" min="1" id="text-quantity">
                                        <button type="button" class="button-up">
                                            <i class="fas fa-caret-up"></i>
                                        </button>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <!--  -->
                            <div class="article-price">
                                <p class="price">$154.00</p>
                            </div>
                            <!--  -->
                        </div>

                        <!----------------------------------------------------------------------------------------->
                        <div class="item-cart">                                
                            <!-- Poduct name -->
                            <div class="product-name">
                                <div class="product-cancel"><i class="bi bi-x"></i></div>
                                <div class="product-img">
                                    <img src="./cart-img/article2.png">
                                </div>
                                <div class="product-info">
                                    <a class="article-description" href="/">Trap Therapy - Trap & R&B Sample Pack</a>    
                                </div>
                            </div>
                            <!--  -->
                            <div class="article-quantity">
                                <!-- <div> -->
                                    <div>
                                        <button type="button" class="button-down">
                                            <i class="fas fa-caret-down"></i>
                                        </button>
                                        <input type="text" class="text-quantity" value="1" min="1" id="text-quantity">
                                        <button type="button" class="button-up">
                                            <i class="fas fa-caret-up"></i>
                                        </button>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <!--  -->
                            <div class="article-price">
                                <p class="price">$ 24.99</p>
                            </div>
                        </div>
                        <!----------------------------------------------------------------------------------------->
                        <div class="item-cart">                                
                            <!-- Poduct name -->
                            <div class="product-name">
                                <div class="product-cancel"><i class="bi bi-x"></i></div>
                                <div class="product-img">
                                    <img src="./cart-img/article3.jpg">
                                </div>
                                <div class="product-info">
                                    <a class="article-description" href="/">Trap Therapy - Trap & R&B Sample Pack</a>    
                                </div>
                            </div>
                            <div class="article-quantity">
                                <!-- <div> -->
                                    <div>
                                        <button type="button" class="button-down">
                                            <i class="fas fa-caret-down"></i>
                                        </button>
                                        <input type="text" class="text-quantity" value="1" min="1" id="text-quantity">
                                        <button type="button" class="button-up">
                                            <i class="fas fa-caret-up"></i>
                                        </button>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <div class="article-price">
                                <p class="price">$ 24.99</p>
                            </div>
                        </div> 

                        <div class="cart-bottom">
                            <button class="button-shopping"><a href="/products"> Continue Shopping</a></button>
                            <input type="submit" class="submit" name="sd" value="Update Cart">
                        </div>
                    
                    </section>
                    
                    <section class="bottom-section">
                        

                        <!-- PAYMENT METHOD -->
                        <div class="cart-total">
                            
                            <div class="cart-total-title-text">
                                <h3>Cart totals</h3>
                            </div>
                            
                            <div class="cart-total-bottom">
                                <h3 class="cart-note">Cart Note</h3>
                                <label class="cart-total-label">Special instructions for seller</label>
                                <textarea class="cart-total-textarea"></textarea>
                            </div>
                            
                            <div class="cart-total-info">
                                <p class="cart-total-text">Total</p>
                                <p class="cart-total-price">$203.98</p>
                            </div>
                             
                            <div class="cart-total-proceed">
                                <a href="/">Proceed to checkout</a>
                            </div>  
                              
                            <div class="payment-method">
                              <div class="paypal-logo">
                                <a href="/">
                                    <img src="./cart-img/paypal-logo.png">
                                </a>
                              </div> 
                              <div class="mercadopago-logo">
                                <a href="/">
                                  <img src="./cart-img/Mercadopago.png">
                                </a>
                              </div> 
                              <div class="card-logo">
                                <a href="/">
                                  <img src="./cart-img/visa-master-amex.png">
                                </a>
                              </div>  
                            </div>
                            
                        </div>
                    </section>
                
                </form>
            </div>
    </main>
 

    <footer>
      <div class="web-footer">
        <div class="web-footer__title">
          <h2>Musify</h2>
        </div>
        <div class="flex-column">
          <div class="web-footer__link">
            <a href="#">About Us</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Resources</a>
          </div>
          <div class="web-footer__link">
            <a href="#">FAQ</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Terms of Service</a>
          </div>
        </div>
        <div class="web-footer__container-flex">
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Instagram profile">
              <i class="footer-icons bi-instagram"></i
            ></a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Facebook profile">
              <i class="footer-icons bi-facebook" color="white"></i>
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Twitter profile">
              <i class="footer-icons bi-twitter"></i>
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Youtube profile">
              <i class="footer-icons bi-youtube"></i>
            </a>
          </div>
        </div>
        <div class="copyright">
          <h3>Copyright</h3>
        </div>
      </div>
    </footer>

    </body>
</html>