<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <!-- Corremos los partials -->
  <body>
    <div class="color-fix-desktop-top">
      <%- include ('../partials/header') %>
    </div>
    <main>
      <div class="product-form-container">
        <div class="row">
          <div class="col-12">
            <h2 class="products-title">Form to create new products</h2>
          </div>
        </div>
        <section>
          <div class="main-form">
            <form action="/products" method="POST">
              <div class="row product-detail">
                <div class="col-12 col-md-6">
                  <label for="name" class="form-label">Product Name:</label>
                  <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="E.g: Romeo Santos sample pack"
                    class="form-input"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="price" class="form-label">Price:</label>
                  <input
                    type="text"
                    id="price"
                    name="price"
                    placeholder="E.g: 9.99"
                    class="form-input"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="discount" class="form-label">Discount:</label>
                  <input
                    type="text"
                    id="discount"
                    name="discount"
                    placeholder="Ej: 15"
                    class="form-input"
                  />
                </div>
                <div class="col-12 col-md-6">
                  <label for="genre" class="form-label">Genre:</label>
                  <select name="genre" id="genre" class="form-input">
                    <option value="">Choose</option>
                    <option value="Ambient">Ambient</option>
                    <option value="Hip-Hop">Hip-Hop</option>
                    <option value="Cinematic">Cinematic</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Trap">Trap</option>
                  </select>
                </div>
                <div class="col-12">
                  <label for="description" class="form-label"
                    >Product Description:</label
                  >
                  <textarea
                    name="descriptionProduct"
                    id="descriptionProduct"
                    class="form-input"
                  ></textarea>
                </div>
                <div class="col-12">
                  <label for="description" class="form-label"
                    >Artist Description:</label
                  >
                  <textarea
                    name="descriptionProducer"
                    id="descriptionProducer"
                    class="form-input"
                  ></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="buy-now-button">Save</button>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </main>
    <%- include ('../partials/footer') %>
  </body>
</html>
