<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Musify</title>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <img id="logo" src="/img-logo.svg" />
      </div>
      <div class="menu-flex">
        <a href="#" class="mobile-button-sign-up">Sign up</a>
        <a href="#" class="mobile-button-log-in">Log In</a>
        <img id="burger-button" src="/img-burger-icon.svg" />
      </div>
    </header>
    <main>MAIN</main>
    <footer>FOOTER</footer>
  </body>
</html>
