<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Musify</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="header-logo">
         <img id="logo" src="/img-logo.svg" alt="Musify logo" />
        </div>
        <div class="header-dropdown">
        <a href="#" class="header-links">Home</a>
        <a href="#" class="header-links">Store</a>
        <a href="#" class="header-links">About Us</a>
        <a href="#" class="header-links">Resources</a>
        </div>
        <div class="menu-flex">
         <a href="#" class="mobile-button-sign-up">Try It Now</a>
         <a href="#" class="mobile-button-log-in">Log In</a>
         <img
          id="burger-button"
          src="/img-burger-icon.svg"
          alt="Burger button"
         />
        </div>
      </div>
    </header>
    <main>
      <section class="section-home">
        <div class="container-grid-main">
          <h3 class="grids-titles">This looks amazing, right?</h3>
          <p class="grids-descriptions">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            voluptate, iste aliquid laborum amet iusto velit alias accusamus.
            Quaerat reprehenderit laudantium similique beatae necessitatibus
            quia vitae eaque minima eius quo.
          </p>
        </div>
        <div class="container-grid-main">
          <h3 class="grids-titles">I guess we were all wrong!</h3>
          <p class="grids-descriptions">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            voluptate, iste aliquid laborum amet iusto velit alias accusamus.
            Quaerat reprehenderit laudantium similique beatae necessitatibus
            quia vitae eaque minima eius quo.
          </p>
        </div>
        <div class="container-grid-main">
          <h3 class="grids-titles">
            Why they decided to go with a fourth Matrix?
          </h3>
          <p class="grids-descriptions">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            voluptate, iste aliquid laborum amet iusto velit alias accusamus.
            Quaerat reprehenderit laudantium similique beatae necessitatibus
            quia vitae eaque minima eius quo.
          </p>
        </div>
      </section>
    </main>
    <footer>
      <div class="web-footer">
        <div class="web-footer__title">
          <h2>Musify</h2>
        </div>
        <div class="flex-column">
          <div class="web-footer__link">
            <a href="#">About Us</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Resources</a>
          </div>
          <div class="web-footer__link">
            <a href="#">FAQ</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Terms of Service</a>
          </div>
        </div>
        <div class="web-footer__container-flex">
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Instagram profile">
              <img
                alt="Instagram logo"
                class="responsive-image"
                src="/public/"
              />
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Facebook profile">
              <img
                alt="Facebook logo"
                class="responsive-image"
                src="/public/"
              />
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Twitter profile">
              <img alt="Twitter logo" class="responsive-image" src="/public/" />
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Youtube profile">
              <img alt="Youtube logo" class="responsive-image" src="/public/" />
            </a>
          </div>
          <div class="copyright">
            <h3>Copyright</h3>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
