<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>Musify</title>
  </head>
  <body>
    <div class="color-fix-desktop-top">
      <header class="margin-fix-for-desktop-header">
        <div class="header-logo">
          <span id="logo"><i class="icons-line-fix-logo bi bi-vinyl-fill "></i> Musify</span>
          <!-- <img id="logo" src="/img-logo-musify.png" alt="Musify logo" /> -->
        </div>
        <nav class="flex-nav-bar-header">
          <ul>
            <li><a href="#" class="nav-menu-item">Home</a></li>
            <li>
              <div class="store-dropdown">
                <a href="#" class="store-dropdown">Store <i class="icons-line-fix-chevron bi bi-chevron-down"></i></a>
                <div class="store-dropdown-content">
                  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Products</a>
                  <a href="https://www.youtube.com/watch?v=JF_QVNfyRY8">Libraries</a>
                  <a href="https://www.youtube.com/watch?v=0USm3AilHiU">Samples</a>
                </div>
              </div>
            </li>
            <li><a href="#" class="nav-menu-item">About Us</a></li>
            <li><a href="#" class="nav-menu-item">Contact</a></li>
          </ul>
        </nav>
        <div class="menu-flex">
          <a href="#" class="icons-line-fix desktop-button-cart">
            <i class="bi bi-cart2"></i>
          </a>
          <a href="#" class="mobile-button-sign-up">Try It Now</a>
          <a href="#" class="mobile-button-log-in">Log In</a>
          <a href="#" id="burger-button"><img
            src="/img-burger-icon.svg"
            alt="Burger button"
          />
        </a>
        </div>
      </header>
    </div>
    <main>
      <div class="color-fix-desktop-top">
        <section class="margin-fix-for-desktop-main section-top-view">
          <div class="flex-first-column-main">
            <h2 class="grids-titles">Redefine your style</h2>
            <p class="grids-descriptions">
              Let your most passionate fans know how much do you care about unique
              sounds.
            </p>
            <div class="main-button-separator">
            <a href="#" class="mobile-button-sign-up-main">Get started</a>
            </div>
          </div>
          <div class="flex-second-column-top-main">
            <img
              src="/img-musician.jpg"
              class="top-bar-image"
            ></img>
            <img
            src="/img-grid (8).jpg"
            class="top-bar-image-alt-desktop"
          ></img>
          </div>
        </section>
      </div>
      <section class="section-home-grids">
        <div class="margin-fix-for-desktop-main first-grid-home">
          <div class="container-grid-main">
            <h3 class="grids-titles">Mix like a beast!</h3>
            <p class="grids-descriptions">
              You don't have to worry about peaks and lo-fi instruments. Our
              system automatically filters unwanted noise generated by
              not-so-well compressed files. AI, ladies and gentlemen!
            </p>
          </div>
          <img class="main-image-grid" src="/img-grid (11).jpg" />
        </div>
        <div class="margin-fix-for-desktop-main second-grid-home">
          <div class="container-grid-main">
            <h3 class="grids-titles">Try before buying</h3>
            <p class="grids-descriptions">
              Producers will be able to select which samples they want to make
              available to try. And, yes, they can choose as much as they want.
              We gotcha', pal!
            </p>
          </div>
          <img class="main-image-grid" src="/img-grid (12).jpg" />
        </div>
        <div class="margin-fix-for-desktop-main third-grid-home">
          <div class="container-grid-main">
            <h3 class="grids-titles">Search. Tag. Keep. Repeat.</h3>
            <p class="grids-descriptions">
              You can search for whatever you need: voice samples, drum kits,
              guitar loops. You call it. Tag any kit or sample you need and you
              can buy it individually. Cool, huh?
            </p>
          </div>
          <img class="main-image-grid" src="/img-grid (10).jpg" />
        </div>
      </section>
      <section class="section-middle-grid">
        <div class="container-middle-grid">
          <h3 class="grids-titles">Dominate your sound.</h3>
          <p class="grids-descriptions">
            Be your own super-producer. Join us and be part of the Musify
            family. Sharing is caring, is what they say. Are you ready?
          </p>
          <img class="main-image-grid" src="/img-studio.jpg" />
        </div>
      </section>
      <section class="section-home-commends">
        <div class="container-commends-main">
          <img class="person-commend-img" src="/img-person.jpg" />
          <p class="commends-descriptions">
            "I literally cried because a website like this never existed
            before. It's fantastic and I'm more powerful now."
          </p>
          <p class="commends-name-person">Wanda Romanoff</p>
        </div>
        <div class="container-commends-main">
          <img class="person-commend-img" src="/img-person (2).jpg" />
          <p class="commends-descriptions">
            "Yeah, I'm the green guy. And I'm not in the mood... Mind your own business, kiddo."
          </p>
          <p class="commends-name-person">Bruce Banner</p>
        </div>
        <div class="container-commends-main">
          <img class="person-commend-img" src="/img-person (3).jpg" />
          <p class="commends-descriptions">
            "This page is so cool that not even Thanos can break it with his
            famous finger snap. Thank you, devs!"
          </p>
          <p class="commends-name-person">Tony Stark</p>
        </div>
      </section>
      <section class="section-join-us">
        <div class="container-join-us">
          <h2 class="grids-titles">Are you ready to be part of the family?</h2>
          <a href="#" class="mobile-button-sign-up-main">Get started</a>
        </div>
      </section>
    </main>
    <footer>
      <div class="web-footer">
        <div class="web-footer__title">
          <h2>Musify</h2>
        </div>
        <div class="flex-column">
          <div class="web-footer__link">
            <a href="#">About Us</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Resources</a>
          </div>
          <div class="web-footer__link">
            <a href="#">FAQ</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Terms of Service</a>
          </div>
        </div>
        <div class="web-footer__container-flex">
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Instagram profile">
              <i class="footer-icons bi-instagram"></i
            ></a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Facebook profile">
              <i class="footer-icons bi-facebook" color="white"></i>
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Twitter profile">
              <i class="footer-icons bi-twitter"></i>
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Youtube profile">
              <i class="footer-icons bi-youtube"></i>
            </a>
          </div>
        </div>
        <div class="copyright">
          <h3>Copyright</h3>
        </div>
      </div>
    </footer>
  </body>
</html>
