<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/products.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>Musify</title>
  </head>
  <body>
    <div class="color-fix-desktop-top">
      <header class="margin-fix-for-desktop-header">
        <div class="header-logo">
          <a href="/">
            <span id="logo"
              ><i class="icons-line-fix-logo bi bi-vinyl-fill"></i> Musify</span
            >
            <!-- <img id="logo" src="/img-logo-musify.png" alt="Musify logo" /> -->
          </a>
        </div>
        <nav class="flex-nav-bar-header">
          <ul>
            <li><a href="/" class="nav-menu-item">Home</a></li>
            <li>
              <div class="store-dropdown">
                <a href="/products" class="store-dropdown"
                  >Store
                  <i class="icons-line-fix-chevron bi bi-chevron-down"></i
                ></a>
                <div class="store-dropdown-content">
                  <a href="/products">Products</a>
                  <a href="#">Libraries</a>
                  <a href="#">Samples</a>
                </div>
              </div>
            </li>
            <li><a href="/about" class="nav-menu-item">About Us</a></li>
            <li><a href="/contact" class="nav-menu-item">Contact</a></li>
          </ul>
        </nav>
        <div class="menu-flex">
          <a href="/cart" class="icons-line-fix desktop-button-cart">
            <i class="bi bi-cart2"></i>
          </a>
          <a href="/register" class="mobile-button-sign-up">Sign Up</a>
          <a href="/login" class="mobile-button-log-in">Log In</a>
          <a href="#" id="burger-button"
            ><img src="/img-burger-icon.svg" alt="Burger button" />
          </a>
        </div>
      </header>
    </div>
    <main>
      <section class="top-section">
        <div class="top-section__title">
          <div class="top-flex-column">
            <h4 class="top-title-product-name">Home / Store / Flow</h4>
            <p class="title-icons">
              <i class="far fa-star"></i>
              <i class="fas fa-shopping-cart"></i>
              $0.00
            </p>
          </div>
        </div>
        <div class="top-section__product">
          <div class="flex-container__product">
            <div class="first-column__product">
              <img
                class="main-image-product"
                src="/cart-img/article10.jpg"
                class="top-bar-image-alt-desktop"
              />
            </div>
            <div class="second-column__product">
              <div class="title-and-price-row">
                <h3 class="title-product-name">Flow</h3>
                <h3 class="title-product-price">$8.99</h3>
                <div class="add-to-cart-div">
                  <button type="submit" class="add-to-cart-button">
                    Add to Cart
                  </button>
                </div>
              </div>
              <div class="container-producer">
              <h4 class="title-producer">Made by: <a href="/producer" class="link-producer">Soundscrapes</a></p>
              <h4 class="title-genre">Genre: <a href="/genre" class="link-genre">Ambient</a></p>
              </div>
              <p class="product-description">
                Keeping a beat interesting is one of the most important parts of
                production. Flow was designed to add ear candy to your beats.
                Stand out and add energy and excitement to your music just by
                dragging and dropping. This is one of the several samples made by
                Soundscrapes producers.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="mid-section-testimonials">
        <div class="mid-container-testimonials">
          <div>
            <h3 class="grids-titles">More from the same Producer.</h3>
          </div>
          <section class="most-liked-libraries">
            <article class="product">
              <div class="container-products">
                <img class="product-image" src="/cart-img/article15.jpg" />
                <div class="container-details-products__same-genre">
                  <p class="prices">$29.99</p>
                  <p class="discounts">25% OFF</p>
                  <!-- <i class="starred-icon bi bi-lightning-charge"></i> -->
                </div>
                <p class="details__same-genre">Andhera Records Vol.1</p>
              </div>
            </article>
            <article class="product">
              <div class="container-products">
                <img class="product-image" src="/cart-img/article12.jpg" />
                <div class="container-details-products__same-genre">
                  <p class="prices">$19.99</p>
                  <p class="discounts">30% OFF</p>
                  <!-- <i class="starred-icon bi bi-lightning-charge"></i> -->
                </div>
                <p class="details__same-genre">After Hour</p>
              </div>
            </article>
            <article class="product">
              <div class="container-products">
                <img class="product-image" src="/cart-img/article16.jpg" />
                <div class="container-details-products__same-genre">
                  <p class="prices">$35.99</p>
                  <p class="discounts">5% OFF</p>
                  <!-- <i class="starred-icon bi bi-lightning-charge"></i> -->
                </div>
                <p class="details__same-genre">#TechHouse by Function Loops</p>
              </div>
            </article>
            <article class="product">
              <div class="container-products">
                <img class="product-image" src="/cart-img/article17.jpg" />
                <div class="container-details-products__same-genre">
                  <p class="prices">$49.99</p>
                  <p class="discounts">5% OFF</p>
                  <!-- <i class="starred-icon bi bi-lightning-charge"></i> -->
                </div>
                <p class="details__same-genre">The Astro</p>
              </div>
            </article>
          </section>
        </div>
      </section>
      <section class="bottom-section-recommendations">
        <div class="bottom-container-recommendations">
          <h3 class="grids-titles">Our Recommendations.</h3>
          <!-- <img class="main-image-grid" src="/img-studio.jpg" /> -->
          <section class="most-liked-libraries">
            <article class="product">
              <div class="container-products">
                <img class="product-image" src="/cart-img/article69.jpg" />
                <div class="container-details-products">
                  <p class="prices">$39.99</p>
                  <p class="discounts">10% OFF</p>
                  <!-- <i class="starred-icon bi bi-lightning-charge"></i> -->
                </div>
                <p class="details">Essentials Bundle</p>
              </div>
            </article>
            <article class="product">
              <div class="container-products">
                <img class="product-image" src="/cart-img/article73.jpg" />
                <div class="container-details-products">
                  <p class="prices">$25.49</p>
                  <p class="discounts">30% OFF</p>
                  <!-- <i class="starred-icon bi bi-lightning-charge"></i> -->
                </div>
                <p class="details">Compass - Cinematic Underworld</p>
              </div>
            </article>
            <article class="product">
              <div class="container-products">
                <img class="product-image" src="/cart-img/article71.jpg" />
                <div class="container-details-products">
                  <p class="prices">$11.49</p>
                  <p class="discounts">50% OFF</p>
                  <!-- <i class="starred-icon bi bi-lightning-charge"></i> -->
                </div>
                <p class="details">Dark Hip Hop</p>
              </div>
            </article>
            <article class="product">
              <div class="container-products">
                <img class="product-image" src="/cart-img/article72.jpg" />
                <div class="container-details-products">
                  <p class="prices">$49.99</p>
                  <p class="discounts">5% OFF</p>
                  <!-- <i class="starred-icon bi bi-lightning-charge"></i> -->
                </div>
                <p class="details">Starfall - Urban Atmospheric</p>
              </div>
            </article>
          </section>
        </div>
      </section>
    </main>
    <footer>
      <div class="web-footer">
        <div class="web-footer__title">
          <h2>Musify</h2>
        </div>
        <div class="flex-column">
          <div class="web-footer__link">
            <a href="#">About Us</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Resources</a>
          </div>
          <div class="web-footer__link">
            <a href="#">FAQ</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Terms of Service</a>
          </div>
        </div>
        <div class="web-footer__container-flex">
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Instagram profile">
              <i class="footer-icons bi-instagram"></i
            ></a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Facebook profile">
              <i class="footer-icons bi-facebook" color="white"></i>
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Twitter profile">
              <i class="footer-icons bi-twitter"></i>
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Youtube profile">
              <i class="footer-icons bi-youtube"></i>
            </a>
          </div>
        </div>
        <div class="copyright">
          <h3>Copyright</h3>
        </div>
      </div>
    </footer>
  </body>
</html>
