<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>Musify</title>
  </head>
  <body>
    <div class="color-fix-desktop-top">
      <header class="margin-fix-for-desktop-header">
        <div class="header-logo">
          <span id="logo"
            ><i class="icons-line-fix-logo bi bi-vinyl-fill"></i> Musify</span
          >
          <!-- <img id="logo" src="/img-logo-musify.png" alt="Musify logo" /> -->
        </div>
        <nav class="flex-nav-bar-header">
          <ul>
            <li><a href="/" class="nav-menu-item">Home</a></li>
            <li>
              <div class="store-dropdown">
                <a href="/products" class="store-dropdown"
                  >Store
                  <i class="icons-line-fix-chevron bi bi-chevron-down"></i
                ></a>
                <div class="store-dropdown-content">
                  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                    >Products</a
                  >
                  <a href="https://www.youtube.com/watch?v=JF_QVNfyRY8"
                    >Libraries</a
                  >
                  <a href="https://www.youtube.com/watch?v=0USm3AilHiU"
                    >Samples</a
                  >
                </div>
              </div>
            </li>
            <li><a href="/about" class="nav-menu-item">About Us</a></li>
            <li><a href="/contact" class="nav-menu-item">Contact</a></li>
          </ul>
        </nav>
        <div class="menu-flex">
          <a href="/cart" class="icons-line-fix desktop-button-cart">
            <i class="bi bi-cart2"></i>
          </a>
          <a href="/register" class="mobile-button-sign-up">Sign Up</a>
          <a href="/login" class="mobile-button-log-in">Log In</a>
          <a href="#" id="burger-button"
            ><img src="/img-burger-icon.svg" alt="Burger button" />
          </a>
        </div>
      </header>
    </div>
    <main>
      <div class="main-form">
        <section>
          <div class="main-form-structure">
            <form
              action="/register"
              method="POST"
              class="register-form-container"
            >
              <p>
                <input
                  type="text"
                  name="name"
                  placeholder="Full name"
                  required
                  minlength="8"
                  maxlength="32"
                />
              </p>
              <p>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="E-mail address"
                  required
                />
              </p>
              <p>
                <label class="form-title" for="birth-date">Birth date</label>
                <input
                  type="date"
                  name="birth-date"
                  value="2021-09-24"
                  max="2022-12-31"
                  id="birth-date"
                  required
                />
              </p>
              <p>
                <label for="photo">Profile Picture </label>
                <input
                  type="file"
                  name="photo"
                  id="photo"
                  accept=".jpg"
                  required
                />
              </p>
              <p>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                  required
                  min="8"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-])"
                />
                <!-- RegEx PATTERN: 1 Uppercase, 1 Lowercase, 1 Number, 1 Symbol, symbol required -->
              </p>
              <p class="form-btn-container">
                <button type="submit" class="btn-form-signin">
                  <a href="/#">Sign Up</a>
                </button>
                <div class="login-separation-container">
                    <p class="login-separation">
                        Or
                    </p>
                </div>
                <button type="submit" class="btn-form-signup">
                  <a class="btn-text-signup" href="https://www.facebook.com/"
                    >Sign Up with Facebook</a
                  >
                </button>
                <button type="submit" class="btn-form-signup">
                  <a
                    class="btn-text-signup"
                    href="https://accounts.google.com/signin/v2/identifier?hl=es-419&passive=true&continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                    >Sign Up with Google</a
                  >
                </button>
              </p>
              <p class="privacy-policy">
                By signing up, you agree to Musify's Terms of Use, Privacy Policy
                and Cookie Policy.
              </p>
            </form>
          </div>
          <div class="text-login-container">
            <p class="login-form">
              Already have an account?
              <a href="/login" class="hiper-login"> Log in. </a>
            </p>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div class="web-footer">
        <div class="web-footer__title">
          <h2>Musify</h2>
        </div>
        <div class="flex-column">
          <div class="web-footer__link">
            <a href="#">About Us</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Resources</a>
          </div>
          <div class="web-footer__link">
            <a href="#">FAQ</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Terms of Service</a>
          </div>
        </div>
        <div class="web-footer__container-flex">
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Instagram profile">
              <i class="footer-icons bi-instagram"></i
            ></a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Facebook profile">
              <i class="footer-icons bi-facebook" color="white"></i>
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Twitter profile">
              <i class="footer-icons bi-twitter"></i>
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Youtube profile">
              <i class="footer-icons bi-youtube"></i>
            </a>
          </div>
        </div>
        <div class="copyright">
          <h3>Copyright</h3>
        </div>
      </div>
    </footer>
  </body>
</html>
