/* ***************************************************************************************** */
/*                                    CART SECTION                                           */
/* ***************************************************************************************** */

.cart-video-top-view {
  display: none;
}

.section-cart-grids {
  background-color: #ff424d;
  text-align: center;
  color: white;
  border-radius: 35px;
  height: 42px;
  border: solid 2px #ff424d;
  line-height: 34px;
  font-weight: 700;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
  margin-right: 9px;
}

.cart-logo-tablet-desktop {
  display: none;
}

.cart-checkout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;

  margin: auto;
  padding: 5px;
}

.cart-checkout .item-cart {
  display: flex;
  background-color: rgba(0, 0, 0, 0.014);
  border-radius: 20px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: solid 1px transparent;
  max-width: 80%;
  margin: auto;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 24px;
  margin-top: 24px;
  box-shadow: 0 0 11px rgb(33 33 33 / 15%);
}

.top-text-item-cart {
  font-size: 18px;
  border-radius: 999px;
  border: 2px solid #333333;
  background: #fff;
  display: none;
  line-height: 50px;
  right: 40vw;
  width: 20vw;
  text-align: center;
}

.cart-checkout .product-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}

.cart-checkout .product-cancel {
  content: "\f62a";
  bottom: 2px;
  position: absolute;
  font-size: 30px;
  color: #ff424d;
}
.cart-checkout .product-img {
  width: 50%;
}

.product-img img {
  border-radius: 8px;
}

.cart-checkout .product-info {
  text-align: center;
}

.cart-checkout .article-quantity {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.cart-checkout .button-down {
  border: transparent;
  background: #e6e6e6;
  font-size: 20px;
  border-radius: 100%;
}

.cart-checkout .text-quantity {
  height: 30px;
  margin: 10px 0px 10px 0px;
  width: 65px;
  background: 0 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  border: solid 1px transparent;
}

.cart-checkout .button-up {
  border: transparent;
  font-size: 20px;
  background: #e6e6e6;
  border-radius: 100%;
}

.cart-checkout .price {
  width: 100%;
  font-size: 1.2rem;
  color: #666666;
}

.cart-checkout .article-description {
  color: black;
  font-size: 0.8rem;
}

.cart-bottom {
  display: flex;
  flex-direction: column;
  margin: 50px 15px 0px 15px;
}

.button-shopping {
  background-color: #005289;
  color: #fff;
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  padding: 0;
  border-radius: 20px;
  max-width: 85%;
  border: solid 1px transparent;
  margin: auto;
}
.submit {
  background-color: #333333;
  color: #fff;
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  padding: 0;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: solid 1px transparent;
  max-width: 85%;
}

.cart-total {
  position: relative;
  text-align: center;
  background: #f8f8f8;
  margin: 15px;
  border: solid 0.7px #666666;
  margin-top: 50px;
  border-radius: 20px;
}
.cart-total-title-text {
  color: #666666;
  font-size: 15px;
  font-weight: 500;
  border-radius: 999px;
  border: 2px solid #666666;
  background: #fff;
  display: inline-block;
  line-height: 50px;
  width: 40vw;
  position: relative;
  top: -25px;
}
.cart-total-bottom {
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.cart-note {
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding-bottom: 15px;
  margin-bottom: 19px;
  border-bottom: 1px solid #e7e7e7;
}
.cart-total-label {
  display: none;
}
.cart-total-textarea {
  display: none;
  width: 80%;
  height: 30vw;
  margin: 30px 0px 30px 0px;
}

.cart-total-info {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cart-total-proceed {
  background: #005289;
  font-size: 16px;
  width: 228px;
  height: 54px;
  line-height: 54px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.cart-text-or {
  color: #999999;
  background-color: #fff;
  width: 35px;
  height: 35px;
  line-height: 31px;
  border: 2px solid #eaeaea;
  border-radius: 50%;
  display: inline-block;
  margin: 20px auto 0;
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 45%;
}

.payment-method {
  margin: auto;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: solid 1px #e6e6e6;
  margin-top: 31px;
  max-width: 360px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.5s;
}

.payment-method:hover {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}

.payment-method img {
  padding-top: 16px;
  padding-bottom: 16px;
}

.paypal-logo {
  width: 30%;
  margin: 10px;
}

.mercadopago-logo {
  width: 30%;
  margin: 10px;
}

.card-card-logo {
  display: none;
}

/* ***************************************************************************************** */

/**********/
/*Mobile S*/
/**********/

@media (min-width: 320px) and (max-width: 374px) {
  #burger-button {
    display: none;
  }

  .mobile-button-log-in {
    margin-right: 0px;
  }

  .card-logo {
    display: none;
  }

  .paypal-logo {
    width: 25%;
    margin: 10px;
  }

  .mercadopago-logo {
    width: 25%;
    margin: 10px;
  }

  .card-card-logo {
    display: none;
  }
}

/**************/
/*Mobile M & L*/
/**************/

@media (min-width: 375px) and (max-width: 767px) {
  .top-bar-image {
    justify-content: center;
    display: revert;
    width: 60%;
  }

  .flex-second-column-top-main {
    text-align: center;
    padding-top: 18px;
  }

  .card-logo {
    display: none;
  }
}

/********/
/*Tablet*/
/********/

@media (min-width: 768px) and (max-width: 1023px) {
  .cart-checkout .product-cancel {
    position: relative;
  }

  .cart-title {
    line-height: 40px;
  }

  .top-text-item-cart {
    display: inline;
    position: absolute;
    top: -55px;
    z-index: 3;
    border: solid 1px rgb(20 21 24 / 9%);
    background-color: #ff424d;
    color: white;
    font-size: 14px;
    height: 42px;
  }

  .cart-checkout .product-name {
    flex-direction: row;
    width: 50%;
  }

  .cart-checkout {
    margin-top: 100px;
  }

  .cart-checkout .item-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: solid 1px #f1f1f1;
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .cart-bottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin-top: 75px;
  }

  .button-shopping {
    display: inline-block;
    width: 35%;
    margin: auto;
  }

  .submit {
    display: inline-block;
    width: 35%;
    margin: auto;
  }

  .cart-total {
    margin-top: 100px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 70px;
  }

  .paypal-logo {
    width: 60%;
    margin: 10px;
  }

  .mercadopago-logo {
    width: 60%;
    margin: 10px;
  }

  .card-logo {
    display: inline-block;
  }

  .product-img img {
    width: 50%;
    border-radius: 8px;
  }

  div .product-img {
    text-align: center;
  }
}

/********/
/*Laptop*/
/********/

@media (min-width: 1024px) {
  .top-text-item-cart {
    display: inline;
    position: absolute;
    border: solid 1px rgb(20 21 24 / 9%);
    background-color: #ff424d;
    color: white;
    font-size: 14px;
    height: 54px;
    width: 24vw;
    left: 19vw;
    z-index: 1;
    top: 31px;
  }

  .cart-checkout .product-img {
    width: 40%;
    text-align: center;
    line-height: 10px;
  }

  .product-img img {
    width: 50%;
    border-radius: 8px;
  }

  .cart-checkout .product-name {
    flex-direction: row;
    width: 50%;
  }

  .cart-checkout .product-cancel {
    position: relative;
    margin-right: 15px;
  }

  .cart-title {
    text-align: center;
    line-height: 54px;
  }

  .cart-checkout .item-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: solid 1px #f1f1f1;
    margin-top: 10px;
    margin-bottom: 35px;
    margin-left: 0px;
    height: 10vw;
    min-width: 90%;
  }

  .cart-bottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    max-width: 85%;
  }

  .card-logo {
    display: inline-block;
    width: 90%;
  }

  .cart-total {
    position: relative;
    text-align: center;
    background: #f8f8f8;
    margin: auto;
    border: solid 0.7px #666666;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
  }

  .bottom-section {
    width: 50%;
  }

  .cart-total-bottom {
    display: inline;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .cart-total-label {
    display: inline;
  }

  .cart-total-textarea {
    display: inline;
    width: 80%;
    height: 30vw;
    margin: 30px 0px 30px 0px;
    border: solid 1px #666666;
  }

  .cart-total-title-text {
    width: 20vw;
  }

  .cart-checkout {
    margin-top: 0px;
  }

  .button-shopping {
    display: inline-block;
    margin: auto;
    width: 40%;
  }

  .submit {
    display: inline-block;
    margin: auto;
    width: 40%;
  }

  .form-cart-processed {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 90%;
    margin: auto;
  }

  .cart-top-section {
    position: relative;
    top: 2.5vw;
    margin-top: 80px;
    width: 80%;
  }

  .cart-video-top-view {
    display: block;
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 40vw;
    margin-left: 0px;
    top: 74px;
    background: black;
  }

  /* .video{
width: 100%;
height: 100%;
} */
}
