/******************/
/* WEB STYLING */
/******************/

* {
  box-sizing: border-box;
  font-family: "Circular";
  margin: 0;
  max-width: 100vw;
}

html {
  line-height: 1.75;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Circular";
  src: url(/css/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: "Circular Black";
  src: url(/css/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Patron";
  src: url(/css/fonts/AktivGrotesk-Regular.otf);
}

/******************/
/* HEADER STYLING */
/******************/

header {
  background-color: #141518;
  padding: 10px 14px;
  width: 100%;
  z-index: 101;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.header-logo {
  align-self: center;
}

#logo {
  /* width: 97.828px; */
  flex: 50%;
  color: white;
  font-size: 28px;
  font-weight: bolder;
}

#font-separation {
  letter-spacing: 1mm;
}

.menu-flex {
  display: flex;
  flex-wrap: wrap;
  flex: 50%;
  justify-content: right;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.flex-nav-bar-header {
  display: none;
}

.mobile-button-sign-up {
  background-color: #ff424d;
  color: white;
  border-radius: 35px;
  height: 42px;
  border: solid 2px #ff424d;
  line-height: 34px;
  font-weight: 700;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
  margin-right: 9px;
  transition: all 0.35s;
}

.mobile-button-sign-up:hover {
  background-color: #ff5f67;
  border: solid 2px #ff5f67;
}

.mobile-button-log-in {
  background-color: #000000;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  border: solid 2px #ffffff;
  border-radius: 35px;
  height: 42px;
  line-height: 34px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 9px;
  transition: all 0.35s;
}

.mobile-button-log-in:hover {
  border: solid 2px #ff424d;
}

#burger-button {
  width: 25px;
  height: 25px;
  border: 0;
  margin-left: 4px;
}

.desktop-button-cart {
  display: none;
}

a.mobile-button-sign-up {
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

a.mobile-button-log-in {
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

a {
  color: white;
}

header a:link {
  text-decoration: none;
}

.icons-line-fix-logo {
  line-height: 0px;
}

.icons-line-fix-chevron {
  line-height: 0px;
  vertical-align: text-bottom;
}

/******************/
/* MAIN STYLING */
/******************/

.top-bar-image {
  display: none;
  border-radius: 4px;
}

.top-bar-image-alt-desktop {
  display: none;
  border-radius: 4px;
}

.main-button-separator {
  display: none;
}

.section-top-view {
  background-color: #141518;
  padding: 18px;
  color: white;
}

.section-top-view h2 {
  font-size: 3.5rem !important;
  color: #ff424d;
  text-align: left;
  line-height: 1.25;
}

.section-top-view p.grids-descriptions {
  padding: 0px;
  margin-left: 17px;
  margin-right: 17px;
  font-size: 1.25rem;
}

.header-search-bar {
  display: none;
}

.section-payment-methods {
  max-width: 1024px;
  margin: auto;
  padding: 40px;
}

.container-payment-methods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  height: 90px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  position: relative;
  background-color: rgba(0, 0, 0, 0.014);
}

.container-payment-details {
  display: flex;
  flex-direction: column;
}

.container-payment-methods p {
  font-size: 12px;
  opacity: 80%;
}

.container-payment-methods h4 {
  font-size: 14px;
  font-family: "Circular Black";
  font-weight: bolder;
  color: #ff424d;
}

iframe {
  border: 1px solid transparent;
  border-radius: 4px;
}

.icon-payment {
  display: block;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid #ff424b2f;
  color: #ff424d;
  border-radius: 1000px;
  align-self: center;
  padding-top: 3px;
  margin-right: 16px;
  margin-left: 8px;
  text-align: center;
  opacity: 80%;
  transition: all 0.35s;
}

.icon-payment:hover {
  border-color: #ff424d;
  color: white;
  background-color: #ff424d;
}

.container-payment-credit-card {
  display: none;
  flex: 25%;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.container-payment-paypal {
  display: none;
  flex: 25%;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.container-payment-crypto {
  display: none;
  flex: 25%;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.container-payment-cash {
  display: flex;
  flex: 25%;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.container-grid-main {
  padding: 18px;
  width: 100%;
  text-align: -webkit-center;
  align-self: center;
}

.grids-titles {
  text-align: center;
  font-size: 36px;
  margin-left: 17px;
  margin-right: 17px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: rgb(255, 66, 77);
  max-width: 35ch;
  margin: auto;
}

.grids-descriptions {
  text-align: left;
  padding-top: 9px;
  padding-bottom: 18px;
}

.email-description {
  color: white;
}

.email-description a {
  color: #ff424d;
  font-weight: bolder;
}

img {
  max-width: 100%;
}

.main-image-grid {
  width: 339px;
  height: 226px;
  align-self: center;
}

.main-image-grid:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.first-grid-home {
  text-align: -webkit-center;
}

.second-grid-home {
  text-align: -webkit-center;
}

.third-grid-home {
  text-align: -webkit-center;
}

p.grids-descriptions {
  padding-left: 17px;
  padding-right: 17px;
}

.container-middle-grid {
  text-align: -webkit-center;
  padding: 28px;
  background-color: #141518;
  color: white;
}

article.product {
  flex: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
  max-width: 280px;
  color: black;
}

article.product-new-arrivals {
  flex: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
  max-width: 280px;
  color: black;
}

.product-new-arrivals {
  position: relative;
}

.product {
  position: relative;
}

/*CHECK HOVER WITH CONTAINER*/
.starred-icon {
  display: block;
  font-size: 14px;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.966);
  border-radius: 50%;
  position: absolute;
  left: 125px;
  color: #ff424d;
  top: 125px;
  transition: all 0.35s ease-in-out;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
}

.starred-icon:hover {
  transition: transform 0.35s ease-in-out;
  transform: rotate(180deg);
  color: white;
  background-color: #ff424d;
}

.starred-icon:hover ~ .container-products-new-arrivals {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  opacity: 90%;
  filter: blur(2.5px);
}

.starred-icon:hover ~ .container-products {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  opacity: 90%;
  filter: blur(2.5px);
}

article.product-new-arrivals:hover .starred-icon {
  opacity: 100%;
}

article.product:hover .starred-icon {
  opacity: 100%;
}

.container-products-new-arrivals:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  opacity: 90%;
  filter: blur(2.5px);
}

.container-products:hover {
  box-shadow: 0 0 11px rgba(255, 255, 255, 0.041);
  opacity: 90%;
  filter: blur(2.5px);
}

.most-liked-libraries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-new-arrivals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 22px;
  max-width: 1440px;
  margin: auto;
}

.section-home-grids {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-image {
  max-width: 250px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.container-products {
  background: rgb(20, 21, 24);
  background: linear-gradient(
    180deg,
    rgba(20, 21, 24, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-width: 100%;
  margin: 15px;
  transition: all 0.35s;
}

.container-products-new-arrivals {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(20, 21, 24, 1) 50%
  );
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-width: 100%;
  margin: 15px;
  transition: all 0.35s;
  color: white;
  position: relative;
}

.container-products-new-arrivals p {
  color: white;
}

.container-products-new-arrivals h3 {
  color: white;
}

.container-details-products {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  border-top: 1px solid #ebebeba6;
  position: relative;
  margin-top: -10px;
}

.prices {
  margin-top: 7px;
  margin-left: 15px;
  font-size: 18px;
  flex-grow: 0.4;
  align-self: center;
}

.discounts {
  margin-top: 7px;
  font-size: 12px;
  flex-grow: 8;
  align-self: center;
  color: rgba(0, 0, 0, 0.76);
}

.details {
  font-size: 14px;
  text-align: left;
  margin-left: 15px;
  margin-top: auto;
  padding-bottom: 7px;
  color: rgba(0, 0, 0, 0.76);
}

.container-commends-main {
  text-align: center;
  padding: 18px;
}

.section-home-commends {
  padding: 18px;
  text-align: left;
}

.person-commend-img {
  width: 95px;
  height: 95px;
  margin-bottom: 25px;
  border-radius: 47.5px;
  transition: box-shadow 0.35s;
}

p.commends-descriptions {
  font-weight: 300;
  margin-bottom: 15px;
  opacity: 80%;
}

p.commends-name-person {
  font-weight: bold;
}

/* ============ STORE TESTIMONIALS ============ */
.container-store-commends {
  text-align: center;
  padding: 18px;
}

.section-store-commends {
  display: flex;
  justify-content: flex-start;
  padding: 18px;
  text-align: left;
}

.store-person-commend-img {
  width: 95px;
  height: 95px;
  margin-bottom: 25px;
  border-radius: 47.5px;
  transition: box-shadow 0.35s;
}

p.store-commends-descriptions {
  font-weight: 300;
  margin-bottom: 15px;
  opacity: 80%;
}

p.store-commends-name-person {
  font-weight: bold;
}

.section-edit-store {
  text-align: center;
  max-width: 100%;
}

.container-edit-store {
  padding: 10px;
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.section-join-us {
  text-align: center;
  max-width: 100%;
}

.container-join-us {
  padding: 36px;
  max-width: 100%;
  background-color: #141518;
}

h2.grids-titles {
  margin-bottom: 21px;
  color: rgb(255, 66, 77);
}

h3.grids-titles {
  text-align: center;
}

.mobile-button-sign-up-main {
  background-color: #ff424d;
  color: white;
  border-radius: 35px;
  border: solid 2px #ff424d;
  line-height: 34px;
  font-weight: 700;
  font-size: 12px;
  padding: 0.78125rem 1.5rem;
  transition: all 0.35s;
}

.mobile-button-sign-up-main:hover {
  background-color: #ff5f67;
  border: solid 2px #ff5f67;
}

.about-us-description {
  text-align: center;
  max-width: 75ch;
  margin: auto;
  padding: 18px;
  color: white;
}

.contact-description {
  text-align: center;
  max-width: 75ch;
  margin: auto;
  padding: 18px;
  color: white;
}

.about-us-description a {
  color: #ff424d;
  font-weight: bolder;
}

.container-about-us {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #141518;
}

.container-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #141518;
  padding: 24px;
}

.contact-fill {
  background-color: #141518;
  height: 100px;
}

.container-about-us .grids-titles {
  padding: 36px;
  font-size: 36px;
}

.container-contact .grids-titles {
  padding: 36px;
  font-size: 36px;
}

/*******************************/
/* MAIN STYLING -- REGISTER -- */
/*******************************/

/*  ------------     FULL NAME   -------------      */
.form-wrapper-fullname {
  position: relative;
  display: flex;
  height: 4rem;
}

.form-label-fullname {
  position: absolute;
  top: 78%;
  left: 0.6rem;
  transform: translateY(-50%);
  color: #888;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  transition: all 0.35s;
}

.input-form-control-fullname {
  height: 50px;
  align-items: center;
  border: 2px solid #888;
  border-radius: 0.5rem;
  width: 100%;
  margin: 25px 0;
  padding: 23px;
  outline: none;
  background: transparent;
  color: black;
  font-size: 1rem;
  text-indent: 1rem;
  transition: all 0.35s;
  flex-shrink: 0;
}

.input-form-control-fullname:focus {
  border-color: black;
}

.input-form-control-fullname:focus ~ .form-label-fullname {
  background: #f8f8f8;
  color: black;
  transform: translateY(-2.875rem);
}

.reg-user-icon {
  position: absolute;
  top: 58%;
  right: 4%;
  color: #888;
  font-weight: bold;
  transition: all 0.35s;
}

.input-form-control-fullname:focus ~ .reg-user-icon {
  color: black;
}

/*  -----------------     EMAIL   -----------------      */

.form-wrapper-emailRegister {
  position: relative;
  display: flex;
  height: 4rem;
}

.form-label-emailRegister {
  position: absolute;
  top: 78%;
  left: 0.6rem;
  transform: translateY(-50%);
  color: #888;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  transition: all 0.35s;
}

.input-form-control-emailRegister {
  height: 50px;
  align-items: center;
  border: 2px solid #888;
  border-radius: 0.5rem;
  width: 100%;
  margin: 25px 0;
  padding: 23px;
  outline: none;
  background: transparent;
  color: black;
  font-size: 1rem;
  text-indent: 1rem;
  transition: all 0.35s;
}

.input-form-control-emailRegister:focus {
  border-color: black;
}

.input-form-control-emailRegister:focus ~ .form-label-emailRegister {
  background: #f8f8f8;
  color: black;
  transform: translateY(-2.875rem);
}

.reg-email-icon {
  position: absolute;
  top: 58%;
  right: 4%;
  color: #888;
  font-weight: bold;
  transition: all 0.35s;
}

.reg-category-icon {
  position: absolute;
  top: 58%;
  right: 4%;
  color: #888;
  font-weight: bold;
  transition: all 0.35s;
}

.input-form-control-emailRegister:focus ~ .reg-email-icon {
  color: black;
}

/*    ---------     PASSWORD    -----------     */

.form-wrapper-pswRegister {
  position: relative;
  display: flex;
  height: 4rem;
}

.form-label-pswRegister {
  position: absolute;
  top: 78%;
  left: 0.6rem;
  transform: translateY(-50%);
  color: #888;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  transition: all 0.35s;
}

.input-form-control-pswRegister {
  height: 50px;
  align-items: center;
  border: 2px solid #888;
  border-radius: 0.5rem;
  width: 100%;
  margin: 25px 0;
  padding: 23px;
  outline: none;
  background: transparent;
  color: black;
  font-size: 1rem;
  text-indent: 1rem;
  transition: all 0.35s;
}

.input-form-control-pswRegister:focus {
  border-color: black;
}

.input-form-control-pswRegister:focus ~ .form-label-pswRegister {
  background: #f8f8f8;
  color: black;
  transform: translateY(-2.875rem);
}

.reg-psw-icon {
  position: absolute;
  top: 58%;
  right: 4%;
  color: #888;
  font-weight: bold;
  transition: all 0.35s;
}

.input-form-control-pswRegister:focus ~ .reg-psw-icon {
  color: black;
}

/*  -------------   DATE  ------------  */

.form-wrapper-date {
  position: relative;
  display: flex;
  height: 4rem;
}

.form-label-date {
  position: absolute;
  top: 78%;
  left: 0.6rem;
  transform: translateY(-50%);
  color: #888;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  transition: all 0.35s;
}

.input-form-control-date {
  height: 50px;
  align-items: center;
  border: 2px solid #888;
  border-radius: 0.5rem;
  width: 100%;
  margin: 25px 0;
  padding: 23px;
  outline: none;
  background: transparent;
  color: #888;
  font-size: 1rem;
  text-indent: 1rem;
  transition: all 0.35s;
}

.input-form-control-date:focus {
  border-color: black;
}

.input-form-control-date:focus ~ .form-label-date {
  background: #f8f8f8;
  color: black;
  transform: translateY(-2.875rem);
}

/*    -------------------------------------------------------------    */

.main-form {
  width: 100%;
}

.main-form-structure {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.register-form-container {
  width: 85%;
  max-width: 720px;
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  gap: 7px;
}

main div section div form p button {
  width: 100%;
  padding: 20px;
  border-radius: 120px;
  border: none;
}

.btn-form-signin {
  background-color: #ff424d;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: all 0.35s;
}

.btn-form-signin:hover {
  background-color: #ff5f67;
}

.btn-form-signup {
  color: white;
  border: solid 2px #ff424d;
  background-color: #f8f8f8;
  margin: 5px 0;
  transition: all 0.35s;
  width: 100%;
  padding: 20px;
  border-radius: 120px;
}

.btn-text-signup {
  color: #ff424d;
}

.btn-form-signup:hover {
  background-color: #006db9;
  border-color: #006db9;
}

.btn-form-signup:hover .btn-text-signup {
  color: white;
  transition: all 0.35s;
}

.text-login-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.text-signup-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.hiper-login {
  color: #ff424d;
}

/*******************************/
/* MAIN STYLING -- LOGIN -- */
/*******************************/

/*  ------------------    EMAIL    -------------------- */

.form-wrapper-email {
  position: relative;
  display: flex;
  height: 4rem;
}

.form-label-email {
  position: absolute;
  top: 50%;
  left: 0.65rem;
  transform: translateY(-50%);
  color: #888;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  transition: all 0.35s;
}

.input-form-control-email {
  height: inherit;
  width: 100%;
  align-items: center;
  border: 2px solid #888;
  border-radius: 0.5rem;
  outline: none;
  background: transparent;
  color: black;
  font-size: 1rem;
  text-indent: 1rem;
  transition: all 0.35s;
}

.input-form-control-email:focus {
  border-color: black;
}

.input-form-control-email:focus ~ .form-label-email {
  background: #f8f8f8;
  color: black;
  transform: translateY(-2.875rem);
}

.login-user-icon {
  position: absolute;
  top: 28%;
  right: 4%;
  color: #888;
  font-weight: bold;
  transition: all 0.35s;
}

.input-form-control-email:focus ~ .login-user-icon {
  color: black;
}

/*  ------------------    PASSWORD    -------------------- */

.form-wrapper-psw {
  position: relative;
  display: flex;
  height: 4rem;
}

.form-label-psw {
  position: absolute;
  top: 48%;
  left: 0.65rem;
  transform: translateY(-50%);
  color: #888;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  transition: all 0.35s;
}

.input-form-control-psw {
  height: 60px;
  width: 100%;
  align-items: center;
  border: 2px solid #888;
  border-radius: 0.5rem;
  outline: none;
  background: transparent;
  color: black;
  font-size: 1rem;
  text-indent: 1rem;
  margin: 0 0 23px 0px;
  transition: all 0.35s;
}

.input-form-control-psw:focus {
  border-color: black;
}

.input-form-control-psw:focus ~ .form-label-psw {
  background: #f8f8f8;
  color: black;
  transform: translateY(-2.875rem);
}

.forgot-psw {
  color: rgb(114, 114, 114);
}

.forgot-psw:hover {
  color: black;
}

.psw-container {
  align-self: center;
  margin: 15px 0;
}

.login-psw-icon {
  position: absolute;
  top: 27%;
  right: 4%;
  color: #888;
  font-weight: bold;
  transition: all 0.35s;
}

.input-form-control-psw:focus ~ .login-psw-icon {
  color: black;
}

/*-----------------------------------------------------*/

.login-form-container {
  width: 85%;
  max-width: 920px;
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 25px;
  padding: 15px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.btn-form-login1 {
  background-color: #ff424d;
  margin-top: 5px;
  margin-bottom: 35px;
  transition: all 0.35s;
}

.btn-form-login1:hover {
  background-color: #ff5f67;
}

.btn-form-login {
  color: white;
  border: solid 2px #ff424d;
  background-color: #f8f8f8;
  margin: 5px 0;
  transition: all 0.35s;
  width: 100%;
  padding: 20px;
  border-radius: 120px;
}

.btn-text-login {
  color: #ff424d;
}

.btn-form-login:hover {
  background-color: #006db9;
  border-color: #006db9;
}

.btn-form-login:hover .btn-text-login {
  color: white;
  transition: all 0.35s;
}

.privacy-policy {
  width: 75%;
  margin: 20px;
  font-size: 12px;
  color: rgb(114, 114, 114);
  align-self: center;
  text-align: center;
  transition: all 0.35s;
}

.privacy-policy:hover {
  color: black;
}

.login-form {
  color: rgb(114, 114, 114);
  text-align: center;
  align-self: center;
}

.hiper-signup {
  color: #ff424d;
}

.login-separation {
  align-self: center;
  color: rgb(114, 114, 114);
  text-align: center;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 25px;
}

.form-check-label {
  display: flex;
  justify-content: center;
}

.form-check-input {
  margin-right: 1rem;
}

/******************/
/* FOOTER STYLING */
/******************/

footer {
  background-color: #141518;
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-content: center;
  text-align: center;
  color: white;
}

.web-footer__link:link {
  text-decoration: none;
  color: white;
}

.web-footer__link:active:visited {
  text-decoration: none;
  color: white;
}

.footer-icons {
  color: white;
  margin: 15px;
}

footer .flex-column {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

footer .web-footer__container-flex {
  display: flex;
  flex-direction: row;
  margin: 15px;
  text-align: center;
  align-items: center;
  place-content: center;
}

.copyright {
  display: flex;
  text-align: center;
  place-content: center;
  margin-top: 55px;
}

footer a {
  color: white;
}

/**********/
/*Mobile S*/
/**********/

@media (min-width: 320px) and (max-width: 374px) {
  #burger-button {
    display: none;
  }

  .mobile-button-log-in {
    margin-right: 0px;
  }

  .form-label-date {
    display: none;
  }

  .login-psw-icon {
    right: 10%;
  }

  .login-user-icon {
    right: 10%;
  }

  .reg-user-icon {
    right: 13%;
  }

  .reg-email-icon {
    right: 13%;
  }

  .reg-category-icon {
    right: 13%;
  }

  .reg-psw-icon {
    right: 13%;
  }
}

/**************/
/*Mobile M & L*/
/**************/

@media (min-width: 375px) and (max-width: 767px) {
  .top-bar-image {
    justify-content: center;
    display: revert;
    width: 60%;
  }

  .flex-second-column-top-main {
    text-align: center;
    padding-top: 18px;
  }

  .form-label-date {
    display: none;
  }

  .login-psw-icon {
    right: 8%;
  }

  .login-user-icon {
    right: 8%;
  }

  .reg-user-icon {
    right: 10%;
  }

  .reg-email-icon {
    right: 10%;
  }

  .reg-category-icon {
    right: 10%;
  }

  .reg-psw-icon {
    right: 10%;
  }
}

/********/
/*Tablet*/
/********/

@media (min-width: 768px) and (max-width: 1023px) {
  .section-home-grids {
    display: flex;
    flex-direction: column;
  }

  .header-search-bar {
    display: flex;
  }

  header {
    padding: 10px 27px;
  }

  input {
    border: none;
    text-align: center;
    width: 425px;
    height: 20px;
    border-radius: 10px;
  }

  .container-grid-main {
    padding: 0px;
    margin: 18px;
  }

  .first-grid-home {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .second-grid-home {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .third-grid-home {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .main-image-grid {
    display: flex;
    text-align: right;
    margin-right: 18px;
    margin-left: 18px;
    opacity: 80%;
  }

  .section-top-view p.grids-descriptions {
    margin-right: 100px;
  }

  .section-top-view {
    display: flex;
    flex-direction: row;
    padding-top: 88px;
    padding-bottom: 104px;
    padding-left: 40px;
    padding-right: 40px;
  }

  article.product-new-arrivals {
    flex: 50%;
  }

  .flex-first-column-main {
    flex: 50%;
    flex-direction: column;
    margin-left: 18px;
  }

  .flex-second-column-top-main {
    flex: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top-bar-image {
    display: flex;
    width: 80%;
  }

  .main-button-separator {
    display: revert;
    margin-right: 100px;
    text-align: center;
    margin-top: 36px;
  }

  h3.grids-titles {
    text-align: center;
  }

  .container-middle-grid h3.grids-titles {
    text-align: center;
  }

  .container-join-us .grids-titles {
    text-align: center;
  }

  .container-middle-grid p.grids-descriptions {
    text-align: center;
  }

  article.product {
    flex: 50%;
  }

  .container-payment-credit-card {
    display: flex;
  }

  .login-psw-icon {
    right: 4%;
  }

  .login-user-icon {
    right: 4%;
  }

  .reg-user-icon {
    right: 5%;
  }

  .reg-email-icon {
    right: 5%;
  }

  .reg-category-icon {
    right: 5%;
  }

  .reg-psw-icon {
    right: 5%;
  }

  .form-check-input {
    width: 1rem;
    height: 20px;
    text-align: center;
    margin-right: 1rem;
    margin-top: 0.1rem;
  }
}

/********/
/*Laptop*/
/********/

@media (min-width: 1024px) {
  #burger-button {
    display: none;
  }

  .desktop-button-cart {
    display: revert;
    font-size: 18px;
    margin-right: 9px;
  }

  a.desktop-button-cart:hover {
    color: #ff424d;
  }

  .mobile-button-log-in {
    margin-right: 0px;
  }

  .section-home-grids {
    display: flex;
    flex-direction: column;
  }

  .header-search-bar {
    display: flex;
  }

  .flex-nav-bar-header {
    display: revert;
    padding-left: 9px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
  }

  li {
    padding-left: 27px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    font-size: 16px;
    margin-top: 2px;
  }

  li a:hover {
    color: #ff424d;
  }

  .store-dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
    transition: all 0.35s;
  }

  .store-dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.014);
  }

  .store-dropdown {
    display: inline-block;
    position: relative;
  }

  .store-dropdown-content {
    display: none;
    position: absolute;
    background-color: #141518;
    min-width: 150px;
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.041);
    z-index: 1;
    border-radius: 5px;
  }

  .store-dropdown:hover .store-dropdown-content {
    display: block;
  }

  header {
    padding: 10px 21px;
  }

  input {
    border: none;
    text-align: center;
    width: 425px;
    height: 20px;
    border-radius: 10px;
  }

  .form-check-input {
    width: 1rem;
    height: 20px;
    text-align: center;
    margin-right: 1rem;
    margin-top: 0.1rem;
  }

  article.product-new-arrivals {
    flex: 20%;
  }

  .container-grid-main {
    padding: 0px;
    margin: 18px;
  }

  .first-grid-home {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .second-grid-home {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .third-grid-home {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .main-image-grid {
    display: flex;
    text-align: right;
    margin-right: 18px;
    margin-left: 18px;
    opacity: 80%;
  }

  .section-top-view p.grids-descriptions {
    margin-right: 100px;
  }

  .section-top-view {
    display: flex;
    flex-direction: row;
    padding-top: 88px;
    padding-bottom: 104px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .flex-first-column-main {
    flex: 50%;
    flex-direction: column;
    margin-left: 18px;
  }

  .flex-second-column-top-main {
    flex: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top-bar-image {
    display: none;
  }

  .top-bar-image-alt-desktop {
    display: revert;
    margin-right: 50px;
    width: 463px;
    height: 336px;
    opacity: 80%;
  }

  .main-button-separator {
    display: revert;
    margin-right: 100px;
    text-align: center;
    margin-top: 36px;
  }

  h3.grids-titles {
    text-align: center;
  }

  .container-middle-grid h3.grids-titles {
    text-align: center;
  }

  .container-join-us .grids-titles {
    text-align: center;
  }

  .container-middle-grid p.grids-descriptions {
    text-align: center;
  }

  .section-home-commends {
    max-width: 1024px;
    margin-inline: auto;
    display: flex;
  }

  .container-commends-main {
    flex: 33.33%;
  }

  article.product {
    flex: 25%;
  }

  .container-payment-credit-card {
    display: flex;
  }

  .container-payment-crypto {
    display: flex;
  }

  .container-payment-paypal {
    display: flex;
  }

  .login-psw-icon {
    right: 3%;
  }

  .login-user-icon {
    right: 3%;
  }
}

/********/
/*Laptop L*/
/********/

@media (min-width: 1025px) {
  .margin-fix-for-desktop-header {
    margin-inline: auto;
  }

  .margin-fix-for-desktop-main {
    margin-inline: auto;
    max-width: 1024px;
  }

  .color-fix-desktop-top {
    background-color: #141518;
  }

  #burger-button {
    display: none;
  }

  .desktop-button-cart {
    display: revert;
    font-size: 18px;
    margin-right: 9px;
    transition: all 0.35s;
  }

  a.desktop-button-cart:hover {
    color: #ff424d;
  }

  .mobile-button-log-in {
    margin-right: 0px;
  }

  .section-home-grids {
    display: flex;
    flex-direction: column;
  }

  .header-search-bar {
    display: flex;
  }

  .flex-nav-bar-header {
    display: revert;
    padding-left: 9px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
  }

  li {
    padding-left: 27px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    font-size: 16px;
    margin-top: 2px;
  }

  li a:hover {
    color: #ff424d;
  }

  .store-dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
  }

  .store-dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.014);
  }

  .store-dropdown {
    display: inline-block;
    position: relative;
  }

  .store-dropdown-content {
    display: none;
    position: absolute;
    background-color: #141518;
    min-width: 150px;
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.041);
    z-index: 1;
    border-radius: 5px;
  }

  .store-dropdown:hover .store-dropdown-content {
    display: block;
  }

  header {
    padding: 10px 27px;
  }

  input {
    border: none;
    text-align: center;
    width: 425px;
    height: 20px;
    border-radius: 10px;
  }

  .container-grid-main {
    padding: 0px;
    margin: 18px;
  }

  .first-grid-home {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .second-grid-home {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .third-grid-home {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .main-image-grid {
    display: flex;
    text-align: right;
    margin-right: 18px;
    margin-left: 18px;
    opacity: 80%;
  }

  .section-top-view p.grids-descriptions {
    margin-right: 100px;
  }

  .section-top-view {
    display: flex;
    flex-direction: row;
    padding-top: 88px;
    padding-bottom: 104px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .flex-first-column-main {
    flex: 50%;
    flex-direction: column;
    margin-left: 18px;
  }

  .flex-second-column-top-main {
    flex: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top-bar-image {
    display: none;
  }

  .top-bar-image-alt-desktop {
    display: revert;
    margin-right: 50px;
    width: 463px;
    height: 336px;
    opacity: 80%;
  }

  .main-button-separator {
    display: revert;
    margin-right: 100px;
    text-align: center;
    margin-top: 36px;
  }

  h3.grids-titles {
    text-align: center;
  }

  .container-middle-grid h3.grids-titles {
    text-align: center;
  }

  .container-join-us .grids-titles {
    text-align: center;
  }

  .container-middle-grid p.grids-descriptions {
    text-align: center;
  }

  article.product-new-arrivals {
    flex: 20%;
  }

  .section-home-commends {
    max-width: 1024px;
    margin-inline: auto;
    display: flex;
  }

  .container-commends-main {
    flex: 33.33%;
  }

  article.product {
    flex: 25%;
  }

  .text-danger {
    color: #ff424d;
  }
}
