<footer>
    <div class="web-footer">
      <div class="web-footer__title">
        <h2>Musify</h2>
      </div>
      <div class="flex-column">
        <div class="web-footer__link">
          <a href="#">About Us</a>
        </div>
        <div class="web-footer__link">
          <a href="#">Resources</a>
        </div>
        <div class="web-footer__link">
          <a href="#">FAQ</a>
        </div>
        <div class="web-footer__link">
          <a href="#">Terms of Service</a>
        </div>
      </div>
      <div class="web-footer__container-flex">
        <div class="web-footer__social-icons">
          <a href="#" target="_blank" title="Instagram profile">
            <i class="footer-icons bi-instagram"></i
          ></a>
        </div>
        <div class="web-footer__social-icons">
          <a href="#" target="_blank" title="Facebook profile">
            <i class="footer-icons bi-facebook" color="white"></i>
          </a>
        </div>
        <div class="web-footer__social-icons">
          <a href="#" target="_blank" title="Twitter profile">
            <i class="footer-icons bi-twitter"></i>
          </a>
        </div>
        <div class="web-footer__social-icons">
          <a href="#" target="_blank" title="Youtube profile">
            <i class="footer-icons bi-youtube"></i>
          </a>
        </div>
      </div>
      <div class="copyright">
        <h3>Copyright</h3>
      </div>
    </div>
  </footer>