<div class="color-fix-desktop-top">
  <header class="margin-fix-for-desktop-header">
    <div class="header-logo">
      <a href="/">
        <span id="logo"
          ><i class="icons-line-fix-logo bi bi-vinyl-fill"></i> Musify</span
        >
        <!-- <img id="logo" src="../img/img-logo-musify.png" alt="Musify logo" /> -->
      </a>
    </div>
    <nav class="flex-nav-bar-header">
      <ul>
        <li><a href="/" class="nav-menu-item">Home</a></li>
        <li>
          <div class="store-dropdown">
            <a href="#" class="store-dropdown">
              Products
              <i class="icons-line-fix-chevron bi bi-chevron-down"></i>
            </a>
            <div class="store-dropdown-content">
              <a href="/store">Store</a>
              <a href="#">Libraries</a>
              <a href="#">Samples</a>
            </div>
          </div>
        </li>
        <li><a href="/about" class="nav-menu-item">About Us</a></li>
        <li><a href="/contact" class="nav-menu-item">Contact</a></li>
      </ul>
    </nav>
    <div class="menu-flex">
      <a href="/cart" class="icons-line-fix desktop-button-cart">
        <i class="bi bi-cart2"></i>
      </a>
      <a href="/register" class="mobile-button-sign-up">Sign Up</a>
      <a href="/login" class="mobile-button-log-in">Log In</a>
      <a href="#" id="burger-button"
        ><img src="../img/img-burger-icon.svg" alt="Burger button" />
      </a>
    </div>
  </header>
</div>
