<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>Musify</title>
  </head>
  <body>
    <div class="color-fix-desktop-top">
      <header class="margin-fix-for-desktop-header">
        <div class="header-logo">
          <span id="logo"
            ><i class="icons-line-fix-logo bi bi-vinyl-fill"></i> Musify</span
          >
          <!-- <img id="logo" src="/img-logo-musify.png" alt="Musify logo" /> -->
        </div>
        <nav class="flex-nav-bar-header">
          <ul>
            <li><a href="/" class="nav-menu-item">Home</a></li>
            <li>
              <div class="store-dropdown">
                <a href="/products" class="store-dropdown"
                  >Store
                  <i class="icons-line-fix-chevron bi bi-chevron-down"></i
                ></a>
                <div class="store-dropdown-content">
                  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                    >Products</a
                  >
                  <a href="https://www.youtube.com/watch?v=JF_QVNfyRY8"
                    >Libraries</a
                  >
                  <a href="https://www.youtube.com/watch?v=0USm3AilHiU"
                    >Samples</a
                  >
                </div>
              </div>
            </li>
            <li><a href="/about" class="nav-menu-item">About Us</a></li>
            <li><a href="/contact" class="nav-menu-item">Contact</a></li>
          </ul>
        </nav>
        <div class="menu-flex">
          <a href="/cart" class="icons-line-fix desktop-button-cart">
            <i class="bi bi-cart2"></i>
          </a>
          <a href="/register" class="mobile-button-sign-up">Sign Up</a>
          <a href="/login" class="mobile-button-log-in">Log In</a>
          <a href="#" id="burger-button"
            ><img src="/img-burger-icon.svg" alt="Burger button" />
          </a>
        </div>
      </header>
    </div>
    <main>
      <br />
      <h1><center>Around the world</center></h1>
      <br />
      <center>
        <iframe
          width="720"
          height="480"
          src="https://www.youtube.com/embed/LKYPYj2XX80"
        >
        </iframe>
      </center>
      <br />
    </main>
    <footer>
      <div class="web-footer">
        <div class="web-footer__title">
          <h2>Musify</h2>
        </div>
        <div class="flex-column">
          <div class="web-footer__link">
            <a href="#">About Us</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Resources</a>
          </div>
          <div class="web-footer__link">
            <a href="#">FAQ</a>
          </div>
          <div class="web-footer__link">
            <a href="#">Terms of Service</a>
          </div>
        </div>
        <div class="web-footer__container-flex">
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Instagram profile">
              <i class="footer-icons bi-instagram"></i
            ></a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Facebook profile">
              <i class="footer-icons bi-facebook" color="white"></i>
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Twitter profile">
              <i class="footer-icons bi-twitter"></i>
            </a>
          </div>
          <div class="web-footer__social-icons">
            <a href="#" target="_blank" title="Youtube profile">
              <i class="footer-icons bi-youtube"></i>
            </a>
          </div>
        </div>
        <div class="copyright">
          <h3>Copyright</h3>
        </div>
      </div>
    </footer>
  </body>
</html>
